/arx
/rnv
/rvp
/xsdck
/librnv1.a
/librnv2.a

/.deps
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/depcomp
/install-sh
/Makefile
/Makefile.in
/missing
/test-driver

*.o

/*.tar.*
/*.zip
