# Copyright (C) 2022 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the BSD-3 license

name: Build Debian package

on:
  pull_request:
  push:
  schedule:
    - cron: '0 16 * * 5'  # Every Friday 4pm

jobs:
  debian_package:
    name: Build Debian package
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - name: Install build dependencies
        run: |-
          set -x
          sudo apt-get update
          sudo apt-get install --no-install-recommends -V \
            asciidoc \
            autotools-dev \
            build-essential \
            debhelper \
            devscripts \
            docbook-xml \
            docbook-xsl \
            fakeroot \
            libexpat1-dev \
            libncurses5-dev \
            libreadline-dev \
            libscm-dev \
            libx11-dev \
            libxml2-utils \
            xsltproc \
            xz-utils \
            zip

      - name: Build Debian package
        run: |-
          set -x
          ./bootstrap
          ./configure
          make deb

      - name: Upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: "rnv_${{ github.sha }}_debian_package"
          path: "packages/debian/rnv_*.*"
          if-no-files-found: error
